/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    height: 100%;
}

h1 {
    font-size: 40px;
}

/** Website sections **/
body {
    font-family: 'Roboto', sans-serif;
}

.contianer {
    margin: 10px;
}

/* Signin Signup page */
.index-body-wrapper {
    display: flex;
    background-color: #F9F9F9;
}

.index-body-wrapper > div {
    width: 50vw;
}

/* sign in form */
.page-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.page-content-wrapper > h1 {
    margin: 15px 10px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px 0px;
    background-color: #FFFFFF;
    border: 1px solid #8367C7;
    border-radius: 15px;
}

.form-wrapper > input {
    margin: 15px 10px;
    padding: 10px 10px;
    border: 2px solid #8367C7;
    border-radius: 15px;
}

.form-wrapper > button {
    align-self: center;
}

.form-wrapper > input:focus {
    border: 2px solid #493A6F;
}

.remember-wrapper {
    align-self: center;
    display: flex;
    align-items: center;
}

.remember-wrapper > input {
    zoom: 1.2;
    margin: 15px 10px;
}

/* Sign up */
.signup-wrapper {
    margin: 10px 0px;
}

.signup-wrapper span {
    text-decoration: underline;
    color: #8367C7;
}

.signup-wrapper span:hover {
    cursor: pointer;
    color: #493A6F;
    transition: 500ms;
}

/* Client main page */
.client-main-page-wrapper {
    background-color: #F9F9F9;
}

/* Navigation bar */
.nav {
    height: 80px;
    background-color: #8367C7;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-title-wrapper {
    display: flex;
    align-items: center;
}

.logo-wrapper {
    width: 72px;
    height: 72px;
    padding: 5px;
    border-radius: 100px;
    border: 1px solid #493A6F;
}

.logo-wrapper:hover {
    background-color: #493A6F;
    cursor: pointer;
}

.title-wrapper {
    color: #FFFFFF;
    margin: 0px 10px;
}

.nav-bar-btns {
    display: flex;
    list-style: none;
}

.nav-bar-item {
    color: #FFFFFF;
    font-size: 20px;
    margin: 5px 20px;
    width: 110px;
    text-align: center;
}

.nav-bar-item:hover {
    cursor: pointer;
    font-weight: bold;
    transition: 500ms;
}

.nav-bar-item-active {
    font-weight: bold;
}

.nav-bar-item-active > p {
    width: fit-content;
    border-bottom: 3px solid #FFFFFF;
}

/* Utilities */
.btn {
    width:  fit-content;
    padding: 10px 50px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
}

.btn-purpule {
    background-color: #8367C7;
    color: #FFFFFF;
    border: none;
}

.btn-purpule:hover {
    cursor: pointer;
    background-color: #493A6F;
    transition: 500ms;
}

/* Media query */