*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
  }

/* --------------- top navigation bar --------------- */
.topnav {
display: flex;
background-color: #D9D9D9;
color: black;
height: 80px;
padding: 1rem 2rem;
justify-content: space-between;
align-items: center;
width: 100%;
position: fixed;
}

a{
    text-align: center;
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer; 
}

.logo h1{
    color:black;
    font-size: 40px;
}

.logo img{
    width: 72px;
}

.nav-right{
    display: flex;
    align-items: center;
}

.nav-right img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 5px;
}
.nav-right button{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: transparent;
    margin-right: 2rem;
    cursor: pointer;
}

.nav-right button:hover{
    background-color:#003945;
    transition: 500ms;
    color: white;
}


/* ------------ side navigation bar -------------- */

.side-bar{

    position: fixed;
    width: 250px;
    background: #003945;
    height: 100%;
    margin-top: 80px;
}

.side-menu{
    display: flex;
    padding: 1rem;
    color:white;
    transition: 500ms;
}

.side-menu:hover{
    text-decoration: underline;
}

.side-bar img{
    width: 30px;
    height: 30px;
}

.side-bar p{
    font-size: 20px;
    padding-left:10px ;
}
