*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #F9F9F9;
  }

hr{
    border-top: 1px solid #003945;
    width: 50%;
    margin: 2rem auto 0 auto;
}


/* --------------- top navigation bar --------------- */
.topnav {
position:fixed;
display: flex;
background-color: #D9D9D9;
color: black;
height: 80px;
padding: 1rem 2rem;
justify-content: space-between;
align-items: center;
width: 100%;
margin-top: 0;
top:0;
z-index: 10;
}

a{
    text-align: center;
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer; 
}

.logo h1{
    color:black;
    font-size: 40px;
}

.logo img{
    width: 72px;
}

.nav-right{
    display: flex;
    align-items: center;
}

.nav-right img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.add-button{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: transparent;
    margin-right: 2rem;
    cursor: pointer;
    font-weight: bold;
}

.add-button:hover{
    background-color:#003945;
    transition: 500ms;
    color: white;
}


/* ------------ side navigation bar -------------- */

.side-bar{

    position: fixed;
    width: 20%;
    background: #003945;
    height: 100%;
    /* margin-top: 80px; */
    align-items: center;
    display: flex;
    flex-direction: column;
}

.side-bar .side-menu:first-child{
margin-top: 20px;
}

.side-menu{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    color:white;
    width: 80%;
    align-items: center;
    transition-duration: 500ms;
    cursor: pointer;
}

.side-menu-active > p{
    border-bottom: 1px solid white;
}

.side-bar img{
    flex-basis: 10%;
    width: 30px;
    height: 30px;
}

.side-bar p{
    text-align: left;
    flex-basis: 80%;
    font-size: 20px;
    padding-left:10px ;
}

/* ---------- product view ----------- */
.main-bar{
margin-left: 25%;
margin-top: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 0px 5px 0.5px #003945;
    transition-duration: 500ms;
    width: 30%;
    margin: 10px;
    height: 300px;
}

.card:hover {
    transform: scale(1.1);
}

.card-img{
    padding: 10px;
    width: 100%;
    height: 200px;
    background-color: black;
}

.card-details p{
    margin: 5px 5px;
}

.card-learnmore{
    align-self: center;
    width: fit-content;
    text-align: center;
    text-decoration: underline;
    color: #003945;
}

.card-learnmore:hover {
    cursor: pointer;
    color: #493A6F;
}
.cards-container{
display: flex;
flex-wrap: wrap;
}

.products h2{
    text-align: center;
    padding: 1rem;
    color:#003945
}


/* -------- popup box --------- */
.popup{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 30%;
    background-color: white;
    color: #003945;
    border-radius: 20px;
    z-index: 100;
    border: 1px solid #003945;
    font-weight: bold;
}

/* ----------- popup learn more ----------- */
.popup .card{
    margin: 5%;
    width: 90%;
    padding: 5%;
    height: fit-content;
    border: 1px solid #003945;
    /* border-radius: 20px; */
}

.popup .card:hover{
    transform: scale(1);
}

.popup-buttons{
    padding-top: 10px;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-buttons img{
    width: 25px;
    height: 25px;
}

/* --------- popup add product --------- */
.add-product-card{
    margin: 5%;
    width: 90%;
    /* padding: 5%; */
    height: fit-content;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
    box-shadow: 0px 0px 5px 0.5px #003945;
    transition-duration: 500ms;
}

.add-product-field{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 90%;
}

.add-product-field p{
    flex-basis: 25%;
    width: 100%;
}

.add-product-field input{
    flex-basis: 73%;
    padding: 2%;
    width: 100%;
    }

.popup-add-button{
    padding: 2% 10%;
}

.add-category-btn{
    width: 100%;
    background-color: white;
    padding: 2%;
    font-size: 16px;
}


.dropdown-category{
    flex-basis: 73%;
    display: inline-block;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown-category:hover .dropdown-content{
    display: block;
}

.dropdown-content p {
    display: block;
    color: white;
    background-color: #003945;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content p:hover {
    color: #003945;
    background-color: white;
  }

  .line-devider{
    border-top: 1px solid #003945;
    width: 50%;
    margin: 2rem auto 0 auto;
  }

/*  --------------- Chat page ----------------*/
.chat-page-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 85vh;
    margin: 15px 30px;
    border: 2px solid #003945;
}

.chat-list-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border-right: 2px solid #003945;
}

.chat-list-item {
    display: flex;
    border-bottom: 2px solid #003945;
    padding: 5px;
}

.seller-img-wrapper {
    background-color: antiquewhite;
    width: 48px;
    height: 48px;
    border-radius: 100px;
}

.seller-info-last-message {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-grow: 1;
    margin: 0px 20px;
}

.message-date {
    align-self: flex-end;
    justify-self: end;
}

.chat-messages {
    overflow: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #003945;
    border-left: 2px solid #003945;
}

.message-input-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.message-input-wrapper > form {
    display: flex;
    align-items: center;
}

.message-input-wrapper input {
    flex-grow: 1;
    margin: 15px 10px;
    padding: 10px 10px;
    border: 2px solid #003945;
    border-radius: 15px;
}

.message-input-wrapper button {
    height: fit-content;
}

.message-input-wrapper input:focus {
    outline: none;
}

.messages-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.user-sent-message {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.user-sent-message > p:first-child {
    color: gainsboro;
}

.user-sent-message > p:last-child {
    align-self: flex-end;
}

.user-recieved-message {
    background-color: rgb(203, 203, 203);
    display: flex;
    flex-direction: column;
}

.user-recieved-message > p:first-child {
    color: rgb(0, 0, 0);
}

.user-recieved-message > p:last-child {
    align-self: flex-end;
}

/* ------- discount page ------------ */
.discount-page h2{
    color: #003945;
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.add-discount-card{
    padding: 2rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #003945;
    box-shadow: 0px 0px 5px 0.5px #003945;
    border-radius: 10px;
    align-items: center;
    background-color: white;
    margin: auto;
}

.add-discount-card p{
    color:#003945;
}

.add-discount-card input{
    padding: 5px 3rem;
    border: 1px solid #003945;
    border-radius: 10px;

}

.discount-codes{
    display: flex;
    width: 90%;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 2%;
}

.discount-codes-details{
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discount-codes-details img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
}

.discount-codes-details input{
    width: 70%;
    padding: 5px;
}

.discount-codes-details label{
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 10px;
}


/* .discount-codes > label{
    fle
} */


/* --------- hide section ---------- */
.hidden{
    display: none;
}